page-login {
  .fondo{
     background-color: #212121;
  }
  .btn{
      border-radius: 25px;
      background-color: #4CAF50;
  }

  span{
    color:white;
  }

  ion-label,ion-input{
    color:white;
  }

  .fondo-2{
    background-color: #4CAF50;
  }

}
